.container {
  border: 4px solid;
}

.item {
  width: 5rem;
  height: 5rem;
  background-color: bisque;
  margin: 1rem;
}
.container .four {
  width: 6rem;
  height: 6rem;
  background-color: chocolate;
}
.float {
  float: left;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
